<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
  <link rel="stylesheet" href="../css/books.css">
</head>
<body>
<a href="index.html">Home</a>
  <div class="container">
    <h2>
      This is a list with hidden data
    </h2>
    <h3>
      Hover over a list item to display more info.
    </h3>
    <h3>Book list:</h3>
    <ul class="book-list">
      <li class="book">
        Name of the Wind
        <span class="read book-attr">&#128214;</span>
        <span class="book-attr">&#127911;</span>
      </li>
      <li class="book">
        Red Rising
        <span class="book-attr">&#128214;</span>
        <span class="read book-attr">&#127911;</span></li>
      <li class="book">
        The Art Forger
        <span class="book-attr">&#128214;</span>
        <span class="book-attr read">&#127911;</span></li>
      <li class="book">
        Artemis
        <span class="book-attr">&#128214;</span>
        <span class="book-attr read">&#127911;</span></li>
      <li class="book">
        Golden Son
        <span class="book-attr">&#128214;</span>
        <span class="book-attr read">&#127911;</span></li>
    </ul>
  </div>
</body>
</html>
