<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorting</title>
    <link rel="stylesheet" href="../css/sorting.css">
</head>
<body>
    <h1>Sort the list how you choose</h1>
    <button onclick="sortAlpha()" id="sort-alpha-button">Sort Alpha</button>
    <button onclick="sortTraveled()" id="sort-traveled-button">Sort Traveled</button>
    <ul id="list">
        <li data-traveled="False">Oslo</li>
        <li data-traveled="True">Stockholm</li>
        <li data-traveled="False">Helsinki</li>
        <li data-traveled="True">Berlin</li>
        <li data-traveled="True">Rome</li>
        <li data-traveled="True">Madrid</li>
    </ul>
</body>
<script src="../js/sorting.js" defer></script>
</html>
